<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Pagina de Ayuda</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            div {
                width: 900px;
                height: 700px;
            }
            body {
                font: 16px arial, sans-serif;
            }            
            h3 {
                font: 20px arial, sans-serif;
                text-decoration: underline;
                font-weight: bold;
            }            
            h4 {
                font: 18px arial, sans-serif;
                text-decoration: underline;
                font-weight: bold;
            }            
        </style>    
    </head>
    <body>
        <div>
            <h3>League Manage: Help</h3>
            <img src="../resources/images/LeagueWindow.png" alt="League window."/>
            <h4>General Description</h4>
            <p>En esta ventana maneja todos las operaciones correspondientes a las Leagues de
                la aplicacion. Esta te permite crear, modificar, buscar y borrar Leagues,
                ademas de imprimir los datos de la tabla y moverte a la ventana de matches </p>
            <h4>Operaciones</h4>            
            <h5>Create League</h5>
            <img src="../resources/images/LeagueWindowCreateButtons.png" alt="League window Create."/>
            <p>Para crear una league, puedes tanto clickar el boton derecho y pulsar en 
                create, puedes clicar en el boton <strong>+</strong>, o puedes pulsar
                en el boton de la barra superior para añadir documento. Se creara una league
                con valores por defecto. No se puede crear 2 Leagues con el mismo nombre</p>            
            <h5>Modificacion de Leagues</h5>
            <img src="../resources/images/LeagueWindowUpdateButtons.png" alt="League window Update."/>
            <p>Para la modificacion de Leagues, se debe clickar en la celda que se desea modificar
                una vez modificado, se presiona <strong>enter</strong> para confirmar el cambio, o 
                <strong>ESC</strong> para cancelar la modificacion. No se pueden dejar los 
                campos vacios, y cada uno de los campos tiene un formato a seguir</p>            
            <h5>Busquedas de Leagues</h5>
            <img src="../resources/images/LeagueWindowSearchButtons.png" alt="League window Find."/>
            <p>Para las busquedas de leagues, debes seleccionar en la combo el tipo de busqueda
                que deseas. Una vez seleccionado, puede ser requerido que rellenes el campo de texto 
                con un nombre o un numero de match que quieras buscar. Una vez hecho eso, pulsar en el 
                boton de busqueda o clickar en el boton derecho y pulsar search para que busque y te 
                muestre los datos en la tabla. Tambien tienes el boton de limpiar para que la 
                tabla y muestra todas las Leagues que existen</p>           
            <h5>Borrados de Leagues</h5>
            <img src="../resources/images/LeagueWindowDeleteButtons.png" alt="League window Delete."/>
            <p>Para borrar una league, primero debes seleccionar en la tabla la league que quieres borrar.
                Una vez hecho, puedes tanto clickar el boton derecho y pulsar en delete, puedes clicar 
                en el boton <strong>-</strong>, o puedes pulsar en el boton de papelera de la barra 
                superior. Te pedira confirmacion para borrar la league.</p>           
            <h5>Print Leagues</h5> 
            <img src="../resources/images/LeagueWindowPrintButtons.png" alt="League window Print."/>
            <p>Para imprimir todos los datos de la tabla, debes de clickar en el boton de impresion 
                de la parte inferior de la ventana o de la barra superior. Una vez hecho, te mostrara una 
                ventana con los datos de la tabla que tenga en ese momento.</p>
            <h5>Matches para una league</h5>            
            <img src="../resources/images/LeagueWindowMatchesButtons.png" alt="League window Exit."/>
            <p>Primero debes tener una league seleccionada para poder pulsar el boton. Una vez seleccionada
                al pulsarlo se le mandara a la ventana de Matches mostrando los pertenecientes a la League 
                seleccionada. Te pedira confirmacion para salir de la ventana</p>            
            <h5>Salida de la aplicacion</h5>            
            <p>Puedes pulsar el boton <strong>X</strong> en la parte superior o escape para salir de la
                aplicacion. En caso de que quieras salir, te pedira confirmacion. En caso de que pulses en
            el exit y en log out, te mandara a la ventana de inicio de sesion</p>
            <img src="../resources/images/LeagueWindowExitButtons.png" alt="League window Exit."/>
        </div>
    </body>
</html>